
<!--

<div style="text-align: center">
  <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle >
        <a routerLink='/home'><mat-icon>home</mat-icon></a>
      </mat-button-toggle>
      <mat-button-toggle >
        <a routerLink='/register'><mat-icon>person_add</mat-icon></a>
      </mat-button-toggle>
      <mat-button-toggle>
        <a routerLink='/login'><mat-icon>exit_to_app</mat-icon></a>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>


-->







    <div class="navbar">
      <div class="container">

        <div id="left-nav">
          <ul>
            <li>
              <a routerLink='/home'>
                <i class="fas fa-home"> Home</i>
              </a>
            </li>
            <li>
              <a routerLink='/register'>
                <i class="fas fa-bolt"> Register</i>
              </a>
            </li>
            <li>
              <a routerLink='/login'>
                <i class="fas fa-bell"> Login</i>
              </a>
            </li>
          </ul>
        </div> <!-- End Left-Nav -->
      <div id="twitter-icon" style = "position: absolute;
      top: 2px;
      right: 600px;">
        <i class="fab fa-twitter"></i>
      </div> <!-- End Twitter Icon -->

        <div id="right-nav" >
          <!--
            <div class="btn">
              Tweet
            </div>


          -->

        </div>
      </div> <!-- End Container -->
    </div> <!-- End Navbar -->










